<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>About This Page</title>
  <meta name="topic-status" content="Draft" />
  <link rel="stylesheet" type="text/css" href="./assets/css/styles.css" />
  <style>
    /*<![CDATA[*/
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500');
    /*]]>*/
  </style>
</head>
  <body>
    <main>
	<header>This website belongs to {{ site.name }}</header>
	<h3>Disclaimer</h3>
  <p class="Body"> Details furnished in screenshots must only be treated as examples. Any resemblance with the database of the user’s network is only a coincidence.</p>
  <p> </p>
      <div>
         {{content - 2021 June}}
      </div>
    </main>  
  </body>
</html>
